{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Création Sortie{% endblock %}

{% block body %}

    <div class="container">

        <h3>Créer une sortie</h3>

        {{ form_start(sortieForm) }}

        <div>
            {{ form_label(sortieForm.nom) }}
            {{ form_widget(sortieForm.nom) }}
            {{ form_errors(sortieForm.nom) }}
        </div>
        <div>
            {{ form_label(sortieForm.dateHeureDebut) }}
            {{ form_widget(sortieForm.dateHeureDebut) }}
            {{ form_errors(sortieForm.dateHeureDebut) }}
        </div>
        <div>
            {{ form_label(sortieForm.dateLimiteInscription) }}
            {{ form_widget(sortieForm.dateLimiteInscription) }}
            {{ form_errors(sortieForm.dateLimiteInscription) }}
        </div>
        <div>
            {{ form_label(sortieForm.nbInscriptionsMax) }}
            {{ form_widget(sortieForm.nbInscriptionsMax) }}
            {{ form_errors(sortieForm.nbInscriptionsMax) }}
        </div>
        <div>
            {{ form_label(sortieForm.duree) }}
            {{ form_widget(sortieForm.duree) }}
            <span>minutes</span>
            {{ form_errors(sortieForm.duree) }}
        </div>
        <div class="textArea">
            {{ form_label(sortieForm.infosSortie) }}
            {{ form_widget(sortieForm.infosSortie) }}
            {{ form_errors(sortieForm.infosSortie) }}
        </div>
        <div>
            {{ form_label(sortieForm.campus) }}
            {{ form_widget(sortieForm.campus) }}
            {{ form_errors(sortieForm.campus) }}
        </div>

        <div>
            {{ form_label(sortieForm.lieu) }}
            {{ form_widget(sortieForm.lieu) }}
            {{ form_errors(sortieForm.lieu) }}
        </div>

        <div>

            <button type="submit" name="enregistrer">Enregistrer</button>
            <button type="submit" name="publier">Publier la sortie</button>

            {#
            {{ form_label(sortieForm.enregistrer) }}
            {{ form_widget(sortieForm.enregistrer) }}

            {{ form_label(sortieForm.publier) }}
            {{ form_widget(sortieForm.publier) }}#}

        {{ form_end(sortieForm) }}

            <button type="button">
                <a href="{{ path('sortie_home') }}">Annuler</a>
            </button>
        </div>

    </div>


{% endblock %}